<% if logged_in? %>
  <div class="col-sm-8">
    <%= render 'tasks', users: @tasks %>
  </div>
<% else %>
  <div class="bg-secondary p-3 p-sm-5 my-4 rounded">
    <div class="text-center text-white">
      <h1>Task List Top Page</h1>
      <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
      <%= link_to 'Login now!', login_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>